/*body.ui-overlay-c, .ui-body-c {
	background: url(clouds.jpg);
  background-repeat:repeat-y;
  background-position:center center;
  background-attachment:scroll;
  background-size:100% 100%;	
}*/
span.help-inline {
	color:red;
	display: inline-block;
	margin-top:5px;
	padding: 5px;
	background-color: hsl(0, 58%, 93%);
	border-radius:4px;
}
div.alert{
	padding: 8px 5px;
}
div.alert-error{
		background-color: #fc182a;
	}
div.alert-notice, div.alert-success{
		background-color: hsl(96, 100%, 81%);
}
.list_content.ui-li-desc {
	overflow: show;
	text-overflow: clip;
	font-size: 18px;
	white-space: normal;
	margin-bottom: 0px;
	padding-top: 10px;
}