<div class="center hero-unit">
  <h1>Welcome to the Habit Buster</h1>
  <h2 class="italics">...where habits go to die!!</h2>
  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>