<div id="reasons_form">
    <%= simple_form_for [@habit,@reason], remote: true, class: "reason_form", method: :post do |f| %>
      <%= f.input :message, label: false, autofocus: true %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
</div>