<p>List every reason you have for wanting to start this new habit or permanently ridding yourself from a bad habits claws.</p>
<p>Use expressive, emotional phrases. You really want to succeed and the more reasons you have, the more likely you are to succeed.</p>
<p>As with steps and affirmations, read this list several times a day to remind yourself of all the reasons you have. This will ingrain it into your psyche and give you the strength to overcome.</p>