	<tr>
	  <td class="span7 reason_msg" id="reason_<%= reason.id %>">
	  	<%= reason.message%>
	  </td>
	  <td class="span2 actions">
    	<%= link_to "edit",edit_habit_reason_path(@habit,reason), 
    	id: 'edit_reason', :'data-toggle'=>'modal',class: "btn btn-mini", remote: true %>
	  		<%= link_to "delete", [@habit,reason], method: :delete, 
	  		remote: true, class: "delete_reason btn btn-danger btn-mini" %>
   		
	  </td>
  </tr>
