<div class="reason" id="reason_<%= reason.id %>">
  <li><%= reason.message %>
    <span class='actions'><%= link_to "edit", edit_habit_reason_path(@habit,reason) %> |
  <%= link_to "delete", habit_reason_path(@habit,reason), method: :delete, remote: true, class: "delete_reason" %>
    </span>
  </li>
</div>