<p>Describe the person you will become when you have completed this habit.</p>
<p>Write descriptive, visual imagery with as many details as you can think of. The more vivid your imagery, the stronger it will guide you in your quest. </p>
