<p>Write down anything that will inspire you to continue. This could include famous quotes, websites, lyrics, or names of individuals that have gone through similar challenges.</p>
<p>It could also be a description of the person you will become when you have completed this habit.</p>

