<div id="steps_form">
  <%= simple_form_for [@habit, @step], remote: true,class: "step_form" do |f| %>
    	<%= f.input :message, label: false%>
	    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>