<div id="steps_form">
  <%= simple_form_for [@habit, @step], remote: true do |f| %>
    <%= f.input :content, label: false, autofocus: true %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>