<% @trackers.each do |t| %>
	<% unless t.notes.blank? %>
		<h4><%= t.day %></h4>
		<p><%= t.notes %></p>
		<span><%= link_to "Edit",edit_habit_tracker_path(@habit,t),
				:'data-toggle' => 'modal', remote: true, class: "btn btn-small" %></span>
		<hr>
	<% end %>
<% end %>