// Place all the styles related to the Habits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#habit_statement {
  width: 660px;
} 

.reason:hover, .step:hover, .affirmation:hover {
    background-color: hsla(120, 80%, 10%, .1);
}
div.edit_form {
    // position: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

h3 {
  margin-bottom: 20px;
}
a#tracking_link:hover{
//	display:#tracking_link;
	text-decoration: none;
}
a#tracking_link {
	display: block;
}