// Place all the styles related to the Habits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#habit_statement {
  width: 660px;
}
#actions {
  float: right;
  margin-right: 420px;
}