// Place all the styles related to the Habits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#habit_statement {
  width: 660px;
}

.reason:hover, .step:hover {
    background-color: hsla(120, 80%, 10%, .1);
}
div.edit_form {
    // position: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}