// Place all the styles related to the trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar td { height: 100px; width: 14.28%; }

table.calendar td.day {
  &.today { border-width: thick; }
  &.false { background-color: red; }
  &.true { background-color: green; }
  &.future_tracker { background-color: lightblue; }
  &.pending, &.first_pending { background-color: yellow; }
}

//for ajax form hiding
article form.tracker_form { margin-bottom: 0;}
form.edit_tracker {
  input#tracker_success_true, input#tracker_success_false,
  input.btn-primary{
    display:none;
  } 
}
img.click_pic_good, img.click_pic_bad {
  cursor:pointer;
  display: block;
  float: left;
  padding-right: 8px;
}
