// Place all the styles related to the trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar td { height: 100px; width: 14.28%; }

table.calendar td.day {
  &.current { border-width: thick; background-color: orange }
  &.fail { background-color: red; }
  &.pass { background-color: green; }
  &.pending { background-color: lightblue; }
  &.overdue { background-color: yellow; }
}

//for ajax form hiding
article form.tracker_form { margin-bottom: 0;}
form.edit_tracker {
  input#tracker_outcome_pass, input#tracker_outcome_fail,
  input.btn-primary{
    display:none;
  } 
}
img.click_pic_pass, img.click_pic_fail {
  cursor:pointer;
  display: block;
  float: left;
  padding-right: 8px;
}
