// Place all the styles related to the trackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar td { height: 100px; width: 14.28%; }
table.calendar {
  //border-spacing:2px;
  td.day {
    &.current {background-color: hsl(60, 100%, 70%) }
    &.fail { 
      @include linear-gradient(hsl(0, 85%, 95%), hsl(0, 85%, 85%));
    }
    &.pass { 
      @include linear-gradient(hsl(98, 63%, 50%),hsl(98, 63%, 80%),hsl(98, 63%, 50%))
    }
      //background-color: green; }
    &.pending { background-color: lightblue; }
    &.overdue { background-color: hsl(40, 100%, 70%); }
  }
}

//for ajax form hiding
article form.tracker_form { margin-bottom: 0;}
form.edit_tracker {
  input#tracker_outcome_pass, input#tracker_outcome_fail,
  input.hide{
    display:none;
  } 
}
img.click_pic_pass, img.click_pic_fail {
  cursor:pointer;
  display: block;
  float: left;
  padding-right: 8px;
  padding-left: 12px;
 // margin-bottom: 5px;
}
textarea {
  height: 200px;
  padding: 5px;

}
a.notes_link{
  //float:right;
  position:relative;
  bottom:0px;
  right:0px;
}

