// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  line-height: 25px;
}
ol {
  margin-top: 30px;
}
meter {
	width: 40%;
}
meter.up-to-date-false{
	//td.actions{
//	-webkit-box-shadow: 0 0 2px 2px red;
//	-moz-box-shadow: 0 0 2px 2px red;
//	box-shadow: 0 0 2px 0px red;
	-webkit-box-shadow: 0 0 1px 1px red;
	-moz-box-shadow   : 0 0 1px 1px red;
	box-shadow        : 0 0 1px 1px red;
}
em.overdue_notice {
	background-color: red;
	padding: 0 5px;
}

h4.meter_title {
	padding: 10px;
	margin: 0px;
	text-align: center;
	&.false {
		background-color: hsl(0, 53%, 77%);
	}
	&.true {
    background-color: hsl(102, 44%, 89%);
	}
}
span.statement {
	font-weight: bold;
}
td.actions{
	vertical-align: middle;
}
.center a.new_habit_link {
	margin-top: 0px;
}
aside em{
	font-weight: bold;
}