// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  line-height: 25px;
}
ol {
  margin-top: 30px;
}
progress.up-to-date-false, em.overdue_notice {
	box-shadow: 0 0 2px 2px red;
}
em.overdue_notice {
	padding: 0 5px;
}
