    <header class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Habit Buster", root_path, id:"logo" %>
          <nav>
            <ol class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Help",    help_path %></li>
              <li><%= link_to "Sign In",    '#' %></li>
            </ol>
          </nav>
        </div>
      </div>
    </header>
